!+=======================================================+
!    		Information
!+=======================================================+
 
This config is for Site {{site_name}}

Device Host Name: {{hostname}}

Mgmt IP Address: {{mgmt_ip_address}}


Migration Notes   

!+=======================================================+
!    LAN Migration Notes
!+=======================================================+

 !
 track 99 ip route 10.10.10.101 255.255.255.255 reachability
 !
 interface GigabitEthernet0/1
  ip address {{pip_address}} {{sbn_mask}}
  no ip redirects
  no ip unreachables
  no ip proxy-arp   
  vrrp 1 ip {{vrrp_ip}}
  vrrp 1 priority 105
  vrrp 1 preempt delay minimum 20
  vrrp 1 track 99 decrement 10
  speed {{speed}}
  duplex full
  no shut
 !
 !
 !
 router eigrp {{as_num}}
 log-adjacency-changes
 redistribute bgp 65001 metric 4000 10 255 1 1500 route-map bgp_to_eigrp
 network {{local_subnet}} {{wild_mask}}
 no auto-summary

ip route 0.0.0.0 0.0.0.0 {{next_hop}}

 router bgp 65001
 network {{wan_sbn}} mask {{wan_sm}}
!
!end of config

!+=======================================================+
! Migration tests
!+=======================================================+
!
!!!!! Verify all the commands are configured in the routers
!
show run


!!!!!!! check speed/duplex and no interface error.


clear arp
clear ip bgp * soft
!
!!!!!!! ensure all neighbors are up -
!
sh ip bgp sum
!
customer application test

!+=======================================================+
! End
!+=======================================================+
